@import url('https://fonts.googleapis.com/css2?family=Playball&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";
.gallery-grid::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.logo-font {
  font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;
}

.head-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}